.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    margin: 1em 0 3em 0;
}

.contact h3 {
    margin: .5em;
    font-size: 4em;
}

.contact .contact-form > div {
    padding: 0 1em 1em 1em;
}

.contact .contact-form label {
    margin-bottom: 5px;
}

.contact .contact-form .name input,
.contact .contact-form .email input,
.contact .contact-form .message textarea {
    width: 100%;
    padding: .5em;
    font-family: sans-serif;
}

.contact .contact-form .first-name,
.contact .contact-form .last-name {
  display: inline-block;
  width: 49.4%;
}

.contact .contact-form .submit {
    text-align: center;
}

.contact .contact-form #submit-btn {
    width: 100%;
    font-size: 1.5em;
    padding: .3em 2em;
    background-color: black;
    color: white;
    border-radius: 5px;
  }