/* for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}

ul {
    list-style: none;
}

/* header */
.header a,
.footer a {
    text-decoration: none;
    color: #fff;
}

.header {
    width: 100%;
    height: 100px;
    /* display: flex; */
    background-color: black;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header .logo {
    height: 100%;
    line-height: 100px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.header .logo img {
    height: 90%;
}

.header .logo,
.header .social {
    flex: 1;
    width: 150px;
}

.header .nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.header .nav .nav-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.header .nav .nav-list li a {
    padding: 30px 18px;
    border-bottom: 3px solid black;
    transition: all .3s;
}

.header .nav .nav-list a:hover {
    border-bottom: 3px solid #333333;
}

.header .social {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.header .social .social-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.header .social .social-list a,
.footer .social .social-list a {
    padding: 20px;
    transition: all .3s;
}

.header .social .social-list a:hover,
.footer .social .social-list a:hover {
    background-color: #333333;
}

/* footer */
.footer {
    height: 180px;
    background-color: black;
    color: #fff;
    border-top: 1px solid white;
}

.footer .logo {
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

.footer .logo img {
    height: 100%;
    margin-top: 20px;
}

.footer .social .social-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 32px;
    margin-top: 40px;
}

